<div class="grid-container now-playing-grid">
    <h1 class="now-play-grid-item1">Now Playing</h1>
    <figure class="now-play-grid-item2">
        <img src="/img/264x264.jpeg" alt = "deadmau5">
        <figcaption style="text-align:center; color:white">Deadmau5 Random Album Title</figcaption>
    </figure>
    <audio class="now-play-grid-item2" controls loop preload="none" src="/audio/free-sound.mp3"></audio>
</div>