<div id="events-section" class="hidden">
    <h1 style="margin-top: 2rem; text-align: left;">Event Selection</h1>
    <div class="grid-container" id="main-content">
        <form id="events-form" action="#" method="post" style="padding-left: 0.25rem;">

            <div class="flexbox-column">
                <% for (let i = 0; i < events.length; i++) { %>
                    <li class="flexbox-item">
                        <input type="checkbox" id="event-<%= i %>" name="event" value="<%= events[i].name %>">
                        <label for="event-<%= i %>"><%= events[i].name %></label>
                    </li>
                <% } %>
            </div>
                
            <div id="submission">
                <button class="button" type="reset">Cancel</button>
                <button id="submit-selection" type="submit" class="button">Submit</button>
            </div>

        </form>
    </div>
</div>
