<nav class="flexbox-container">
  <a class="flexbox-item" href="/"><h1>GMU VIBE</h1></a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="flexbox-item" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="flexbox-item" href="/">Listener Preferences</a>
    </li>
  </ul>
</nav>