<nav class="flexbox-container">
  <a class="flexbox-item" href="/">GMU VIBE</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="flexbox-item" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="flexbox-item" href="/listener-preferences">Listener Preferences</a>
    </li>
  </ul>
</nav>