<div id="timeslot-section" class="hidden">
    <h1 style="margin-top: 2rem; text-align: left;">Timeslot Selection</h1>
    <div class="grid-container" id="main-content">
        <form id="timeslot-form" action="#" method="post" style="padding-left: 0.25rem;">

            <div class="flexbox-column">
                <% for (let i = 0; i < timeslots.length; i++) { %>
                    <li class="flexbox-item">
                        <input type="radio" id="timeslot-<%= i %>" name="timeslot" value="<%= timeslots[i].time %>">
                        <label for="timeslot-<%= i %>"><%= timeslots[i].time %></label>
                    </li>
                <% } %>
            </div>


            <div id="submission">
                <button class="button" type="reset">Cancel</button>
                <button id="submit-selection" type="submit" class="button">Submit</button>
            </div>

        </form>
    </div>
</div>
